* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  font-family: 'Khula', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  height: 100vh;
  overflow: hidden;
}
h1,
input,
button {
  border: none;
}
li {
  list-style: none;
}

h1 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}
